<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{normal/base :: layout(content=~{::body})}">
<head>
    <meta charset="UTF-8" />
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <title>Update Contact</title>
</head>
<body>
<div class="card mr-3 ml-3">

    <!--        <th:block th:text="${#session.removeAttribute('message')}"></th:block>-->
    <div class="card-body">
        <h1 class="text-center">Update Contact</h1>

        <div class="container-fluid mt-2">
            <div class="container text-center">
                <img src="" style="height: 200px; width: 200px;" class="my_profile_picture"
                     th:src="@{'/img/' + ${contact.image}}" alt="Profile Photo"/>
            </div>
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <form th:object="${contacts}" enctype="multipart/form-data" method="POST"
                          th:action="@{/user/process-update}"  class="mt-2">
                        <input type="hidden" th:value="${contact.contactId}" name="contactId">
                        <!--                            <th:block th:if="${session.message}" th:text="${#session.removeAttribute('message')}"></th:block>-->
                        <!--                            <div th:if="${session.message}" class="alert" th:classappend="${session.message.type}" role="alert">-->
                        <!--                                <p th:text="${session.message.content}"></p>-->
                        <!--                            </div>-->
                        <!-- First Name -->
                        <div class="input-group mt-3" style="width: 100%;">
                            <div class="input-group-prepend">
                                <div class="input-group-text" style="height: 2.5rem; border: 1px solid grey; border-right: none;">
                                    <i class="fa-solid fa-user"></i>
                                </div>
                            </div>
                            <input th:value="${contact.name}" type="text" id="firstName" name="name"
                                   style="flex: 1; border: 1px solid grey; border-left: none; height: 2.5rem;"
                                   placeholder="Enter first name" required/>
                        </div>

                        <!-- Second Name -->
                        <div class="input-group mt-3" style="width: 100%;">
                            <div class="input-group-prepend">
                                <div class="input-group-text" style="height: 2.5rem; border: 1px solid grey; border-right: none;">
                                    <i class="fa-solid fa-circle-plus"></i>
                                </div>
                            </div>
                            <input th:value="${contact.secondName}" type="text" id="secondName" name="secondName"
                                   placeholder="Enter second name"
                                   style="flex: 1; border: 1px solid grey; border-left: none; height: 2.5rem;" required/>
                        </div>

                        <!-- Designation -->
                        <div class="input-group mt-3" style="width: 100%;">
                            <div class="input-group-prepend">
                                <div class="input-group-text" style="height: 2.5rem; border: 1px solid grey; border-right: none;">
                                    <i class="fa-regular fa-address-card"></i>
                                </div>
                            </div>
                            <input th:value="${contact.work}" type="text" id="work" name="work"
                                   placeholder="Enter designation"
                                   style="flex: 1; border: 1px solid grey; border-left: none; height: 2.5rem;" required/>
                        </div>

                        <!-- Email -->
                        <div class="input-group mt-3" style="width: 100%;">
                            <div class="input-group-prepend">
                                <div class="input-group-text" style="height: 2.5rem; border: 1px solid grey; border-right: none;">
                                    <i class="fa-solid fa-square-envelope"></i>
                                </div>
                            </div>
                            <input th:value="${contact.email}" type="email" id="email" name="email"
                                   placeholder="Enter email"
                                   style="flex: 1; border: 1px solid grey; border-left: none; height: 2.5rem;" required/>
                        </div>

                        <!-- Phone -->
                        <div class="input-group mt-3" style="width: 100%;">
                            <div class="input-group-prepend">
                                <div class="input-group-text" style="height: 2.5rem; border: 1px solid grey; border-right: none;">
                                    <i class="fa-solid fa-phone"></i>
                                </div>
                            </div>
                            <input th:value="${contact.phone}" type="tel" id="phone" name="phone" min="10" max="10"
                                   placeholder="Enter phone number"
                                   style="flex: 1; border: 1px solid grey; border-left: none; height: 2.5rem;" required/>
                        </div>

                        <!-- Description -->
                        <div class="input-group mt-3">
                                    <textarea name="description" id="description" class="form-control" th:value="${contact.description}"
                                              rows="3" placeholder="Enter Description" ></textarea>
                        </div>

                        <!-- Image Upload -->
                        <div class="custom-file mt-3">
                            <input type="file" accept="image/*" name="profileImage" class="custom-file-input" id="profileImage" required/>
                            <label class="custom-file-label" for="profileImage">Choose image</label>
                        </div>

                        <!-- Save Button -->
                        <div class="text-center mt-4">
                            <button type="submit" class="btn btn-outline-primary">Update Contact</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>