<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Home</title>
</head>
<body>
	<div>
        <section class="banner">
            <div class="overlay">
                <h2 class="font-weight-bold">Smart Contact Manager</h2>
                <p>Start collecting your contacts in a very smarter way. We provide a very efficient and smarter way of handling contacts.</p>
                <button class="btn bg-primary text-white btn-lg">Get started</button>
            </div>
        </section>
    </div> 
</body>
</html> 